
@{
    ViewBag.Title = "Angular";
}

<h2>Angular</h2>
<div ng-controller="FormController">
    @using (Html.BeginForm("Angular", "Basics", FormMethod.Post, new { id = "myform" }))
    {
        @Html.AntiForgeryToken()
        @Html.TextBox("Email","", new { ng_model="user.email"}) 
        @Html.Password("Password","", new { ng_model = "user.password" })
        @Html.Password("PasswordConfirmation","", new { ng_model = "user.passwordconfirmation" }) 
        <input type="submit" ng-click="formSubmit($event)" value="Submit" />
    }
</div>
