
@{
    ViewBag.Title = "Angular";
}

<h2>Angular</h2>
<div ng-controller="FormController">
    @using (Html.BeginForm("Angular", "Basics", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.TextBox("email")
        @Html.TextBox("password")
        @Html.TextBox("passwordconfirmation")
        <button type="submit" ng-click="formSubmit()">Submit!</button>
    }
</div>
